<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion Business</title>
    <link rel="stylesheet" href="/styles/main-style.css">
</head>
<body>
    <script src="/scripts/main-script.js"></script>
    <div class="left-side">
        <div class="header">
            <div class="dropdown">
                <a>NỮ</a>
                <div class="dropdown-content">
                    <div>
                        <a href="#">NEW ARRIVAL</a>
                        <a href="#">THE DREAMER</a>
                        <a href="#">OCEAN JEWELS</a>
                        <a href="#">MODERN STYLE</a>
                        <a href="#">ETERNAL ELEGANCE</a>
                        <a href="#">URBAN CHIC</a>
                    </div>
                    <div>
                        <a href="#">ÁO</a>
                        <a href="#">Áo sơ mi</a>
                        <a href="#">Áo thun</a>
                        <a href="#">Áo croptop</a>
                        <a href="#">Áo peplum</a>
                    </div>
                    <div>
                        <a href="#">ÁO KHOÁC</a>
                        <a href="#">Áo vest/blazer</a>
                        <a href="#">Áo dài/măng tô</a>
                    </div>
                    <div>
                        <a href="#">SET BỘ</a>
                        <a href="#">Set bộ công sở</a>
                        <a href="#">Set bộ co-ords</a>
                        <a href="#">Set bộ thể thao</a>
                    </div>
                    <div>
                        <a href="#">QUẦN & JUMPSUIT</a>
                        <a href="#">Quần dài</a>
                        <a href="#">Quần lửng/short</a>
                        <a href="#">Quần jeans</a>
                        <a href="#">Jumpsuit</a>
                    </div>
                </div>      
            </div>
            <div class="dropdown">
                <a>NAM</a>
                <div class="dropdown-content">
                    <div>
                        <a href="#">NEW ARRIVAL</a>
                    </div>
                    <div>
                        <a href="#">ÁO</a>
                        <a href="#">Áo thun</a>
                        <a href="#">Áo polo</a>
                        <a href="#">Áo sơ mi</a>
                        <a href="#">Áo khoác/vest</a>
                    </div>
                    <div>
                        <a href="#">QUẦN NAM</a>
                        <a href="#">Quần lửng/short</a>
                        <a href="#">Quần dài</a>
                    </div>
                    <div>
                        <a href="#">PHỤ KIỆN</a>
                        <a href="#">Phụ kiện</a>
                    </div>
                </div>      
            </div>
            <div class="dropdown">
                <a>TRẺ EM</a>
                <div class="dropdown-content">
                    <div>
                        <a href="#">NEW ARRIVAL</a>
                        <a href="#">ÁO KHOÁC</a>
                    </div>
                    <div>
                        <a href="#">BÉ GÁI</a>
                        <a href="#">Áo bé gái</a>
                        <a href="#">Quần bé gái</a>
                        <a href="#">Váy bé gái</a>
                        <a href="#">Chân váy bé gái</a>
                        <a href="#">Phụ kiện bé gái</a>
                    </div>
                    <div>
                        <a href="#">BÉ TRAI</a>
                        <a href="#">Áo bé trai</a>
                        <a href="#">Quần bé trai</a>
                        <a href="#">Phụ kiện bé trai</a>
                    </div>
                </div>      
            </div>
            <div class="dropdown">
                <a>SIÊU SALE</a>
                <div class="dropdown-content">
                    <div>
                        <a href="#">KIDS ĐỒNG GIÁ 50K</a>
                        <a href="#">50K</a>
                        <a href="#">80K</a>
                        <a href="#">100K</a>
                        <a href="#">150K</a>
                        <a href="#">250K</a>
                    </div>
                    <div>
                        <a href="#">SALE 50% ALL ITEMS</a>
                        <a href="#">Áo công sở</a>
                        <a href="#">Váy/đầm</a>
                        <a href="#">Áo thun</a>
                        <a href="#">Chân váy</a>
                        <a href="#">Quần</a>
                        <a href="#">Set bộ</a>
                    </div>
                </div>      
            </div>
            <div class="dropdown">
                <a>VỀ CHÚNG TÔI</a>
                <div class="dropdown-content">
                    <div>
                        <a href="#">FACEBOOK</a>
                    </div>
                </div>      
            </div>
            <img class="image-header" src="/images/image-header.png" width="150">
            <div class="search-container">
                <form action="/search" method="GET">
                    <input type="text" class="search-box" placeholder="Tìm kiếm sản phẩm" name="query">
                    <button type="submit" class="search-button">Tìm kiếm</button>
                </form>
                <img class="bttLogin" id="loginButton" src="/images/login-icon.jpg" width="30" height="30">
            </div>
        </div>
        <img class="pic1" src="/images/pic1.png" width="1350" height="460">
        <a class="sale">END OFF SEASON - SALE 50% ALL ITEMS</a>
        <div class="type">
            <a>IVY MODA</a>
            <a>IVY MEN</a>
            <a>IVY KIDS</a>
        </div>
        <div class="product">
            <div class="overlap">
                <img id="pic2" src="/images/pic2.webp" width="250" height="350"
                    onmouseover="swapImage('pic3', 'pic2')" onmouseout="swapImage('pic2', 'pic3')">
                <img id="pic3" src="/images/pic3.webp" width="250" height="350" style="display:none;">
            </div>
            <p class="title">Freesia Dress - Đầm xòe xếp ly cổ</p>
            <p class="price">$1.125.000đ</p>
        </div>
        <div class="product"> 
            <div class="overlap">
                <img id="pic4" src="/images/pic4.png" width="250" height="350"
                    onmouseover="swapImage('pic5', 'pic4')" onmouseout="swapImage('pic4', 'pic5')">
                <img id="pic5" src="/images/pic5.webp" width="250" height="350" style="display:none;">
            </div>
            <p class="title">Áo sơ lụa suông cổ đức</p>
            <p class="price">$1.500.000đ</p>
        </div>
        <div class="product">
            <div class="overlap">
                <img id="pic6" src="/images/pic6.png" width="250" height="350"
                    onmouseover="swapImage('pic7', 'pic6')" onmouseout="swapImage('pic6', 'pic7')">
                <img id="pic7" src="/images/pic7.webp" width="250" height="350" style="display:none;">
            </div>
            <p class="title">Jenna Dress - Đầm Tencel cánh tiên</p>
            <p class="price">$1.450.000đ</p>
        </div>
        <div class="product">
            <div class="overlap">
                <img id="pic8" src="/images/pic8.png" width="250" height="350"
                    onmouseover="swapImage('pic9', 'pic8')" onmouseout="swapImage('pic8', 'pic9')">
                <img id="pic9" src="/images/pic9.webp" width="250" height="350" style="display:none;">
            </div>
            <p class="title">Chân váy Tuysi xếp ly</p>
            <p class="price">$1.370.000đ</p>
        </div>
        <div class="product">
            <div class="overlap">
                <img id="pic10" src="/images/pic10.png" width="250" height="350"
                    onmouseover="swapImage('pic11', 'pic10')" onmouseout="swapImage('pic10', 'pic11')">
                <img id="pic11" src="/images/pic11.webp" width="250" height="350" style="display:none;">
            </div>
            <p class="title">Đầm xòe Tuysi tay liền cách điệu</p>
            <p class="price">$1.400.000đ</p>
        </div>
        <button type="submit" class="view">XEM TẤT CẢ</button>
    </div> 
</body>
</html>


