body {
    background-color: black;
    color: white; 
    display: flex;
}
.left-side {
    margin-left: 50px;  
}
.header a {
    font-size: 15px;
    margin-left: 12px;
    font-weight: bold;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    font-weight: bold;
    position: absolute;
    background-color: black;
    padding: 10px;
    grid-template-columns: repeat(5, auto);
    grid-gap: 50px;
    z-index: 5;
    border: 2px solid white; 
    box-sizing: border-box;
}
.dropdown-content div {
    display: flex;
    flex-direction: column;
}
.dropdown-content a {
    color: white;
    padding: 10px 0px;
    text-decoration: none;
    white-space: nowrap;
}
.dropdown-content a:hover {
    color: red;
}
.dropdown:hover .dropdown-content {
    display: grid;
}
.image-header {
    vertical-align: middle;
    margin-left: 200px;
}
.search-container {
    position: absolute;
    display: flex;
    top: 30px;
    left: 1030px;
}
.search-box {
    width: 250px;
    padding: 10px;
    font-size: 15px;
    color: darkgray;
    background-color: black;
}
.search-button {
    padding: 10px;
    font-size: 15px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}
.search-button:hover {
    background-color: #555;
}
.bttlogin{
    position: absolute;
    top: 5px;
    left: 350px;
}
.pic1 {
    border-top-left-radius: 20px; 
    margin-top: 40px;
    margin-left: 10px;
    display: inline-block;
}
.sale{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    display: block; 
    margin-top: 30px;
    margin-bottom: 30px;
}
.type{
    font-size: 25px;
    color:darkgray;
    display: flex;
    justify-content: center; 
    gap: 40px; 
    margin-bottom: 40px;
}
.product {
    display: inline-block; 
    text-align: center; 
    margin-left: 10px;
    margin-right: 10px
}
.price {
    margin-top: 10px; 
    font-size: 18px;
    color: white; 
}
.title{    
    color:darkgray;
    text-align: center;
}
.view{
    font:bold;
    color: white;
    background-color: black;
    vertical-align: middle;
}
